body {
    width: 100%;
    text-align: center;
    color: red;
    background-color: #c6c8ca;
}
div {
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column
}
h3 {
    font-weight: bold;
    color: red;
    font-size: large;
}
button {
    margin-top: 10px;
    color: red;
}
.li {
    color: blue;
    font-size: large;
}
.text {
    border: 1px solid black;
    border-radius: 5px;
}
.chat-div {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.btn {
    color: blue;
    background: #B2B2B2;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px 15px;
}
.li_str {
    color: #1e7e34;
  margin-right: 25px;
}